<ion-view>
  <ion-content class = 'content'>
    <div class = 'card'>
      <div class = 'pane-bar pane-header'>
        <p class="head">Pakistan Standards & Quality Control Authority</p>
      </div>
      <div class = 'pane-body'>

        <div class="row">
          <div class = 'col col-50'>
            <p class = 'pane-description'>
            </p>
          </div>

          <div class = 'col col-50'>
            <img id = 'logo' src="img/logo.png" alt = 'LOGO'/>
          </div>
        </div>

      </div>


      <h2>About PSQCA</h2>
      <p class="about">The Pakistan Standards and Quality Control Authority, under the Ministry of Science and Technology, is the national standardization body. In performing its duties and functions, PSQCA is governed by the PSQCA Act, 1996. PSQCA came into operation since 1st December 2000, working with 81 scientists/engineers and 254 supporting staff as self-finance organization, been given the task of not only formulation of Pakistan Standards, but is also responsible for promulgation thereof. PSQCA is a member of International Organization for Standardization (ISO),
        International Electro-technical Commission (IEC), and International Organization of Legal Metrology (OIML).
       </p>
      <!--<div class="list">-->
        <!--<div class="inputdiv ">-->



          <!--<div class = 'row'>-->
            <!--&lt;!&ndash; ROW 1 &ndash;&gt;-->

            <!--&lt;!&ndash; COL 11 &ndash;&gt;-->
            <!--<div class = 'icon-holder col-50'>-->
              <!--<div class = 'icon-clickable'>-->
                <!--<a class = "fb"href="https://www.facebook.com/PSQCA.headoffice">-->
                  <!--<i class="icon ion-social-facebook"></i></a>-->
              <!--</div>-->
              <!--<p class="icon-description">Official Facebook Page</p>-->

            <!--</div>-->

            <!--&lt;!&ndash; COL 12 &ndash;&gt;-->
            <!--<div class = 'icon-holder col-50'>-->
              <!--<div class = 'icon-clickable'>-->
                <!--<i class="icon ion-android-search"></i>-->
              <!--</div>-->
              <!--<p class="icon-description">Science & Technology Department</p>-->

            <!--</div>-->

          <!--</div>-->



          <!--&lt;!&ndash; ROW 2 &ndash;&gt;-->
          <!--<div class = 'row'>-->
            <!--&lt;!&ndash; COL 21 &ndash;&gt;-->
            <!--<div class = 'icon-holder col-50'>-->
              <!--<div ui-sref="feedBack" class = 'icon-clickable'>-->
                <!--<i class="icon ion-loop"></i>-->
              <!--</div>-->
              <!--<p class="icon-description">Feedback & Complaints</p>-->
            <!--</div>-->

            <!--&lt;!&ndash; COL 22 &ndash;&gt;-->
            <!--<div class = 'icon-holder col-50'>-->
              <!--<div class = 'icon-clickable'>-->
                <!--<i class="icon ion-ios-information"></i>-->
              <!--</div>-->
              <!--<p class="icon-description">Publication</p>-->
            <!--</div>-->


          <!--</div>-->





        <!--</div>-->
      <!--</div>-->

      <div class = 'pane-bar pane-footer'>
        <p class="Text">Copyrights 2016 by PSQCA<br>Design and Developed by Adarts Digital</p>
      </div>
    </div>
  </ion-content>
</ion-view>

