<ion-view>
  <ion-content class = 'content'>
    <div class = 'card'>
      <div class = 'pane-bar pane-header'>
        <p class="head">Pakistan Standards & Quality Control Authority</p>
      </div>
      <button class="absolute" ng-click="myGoBack()" ion-button><i class="icon ion-ios-arrow-back"></i></button>
      <div class = 'pane-body'>

        <div class="row">
          <div class = 'col col-50'>
            <p class = 'pane-description'>
            </p>
          </div>

          <div class = 'col col-50'>
            <img id = 'logo' src="img/logo.png" alt = 'LOGO'/>
          </div>
        </div>

      </div>


      <h2>About PSQCA</h2>
      <p class="about">The PSQCA Act 1996 of the Parliament empowers Pakistan Standards & Quality Control Authority, as National Standard Body of Pakistan under the administrative control of Ministry Of Science & Technology. PSQCA started its operations since 1st December, 2000, as self-finance organization The PSQCA Act VI of 1996 and the functions performed by PSQCA fall within the ambit of Article :143 and 70(4) Federal Legislative List entry No.03,27,32,39,54 and 59 of Part I and entry No. 6,12 and 15 0f Part II, of the Constitution of Islamic Republic of Pakistan,1973. The above, further authorize to perform as per International practices and Government of Pakistan’s agreement with WTO & ISO. The PSQCA and Government of Pakistan have adopted 22070 ISO Standards and developed 8857 Pakistan Standards. Food Standards are aligned with Codex Alimentarius Commission and traceable with WHO.
       </p>



      <div class="row footertab">
        <div class="col col-33">
          <a class="tab-item" ui-sref="home">
            <i class="icon ion-home"></i>
            Home
          </a>
        </div>

        <div class="col col-33">
          <a class="tab-item" ui-sref="about">
            <i class="icon ion-information-circled"></i>
            About PSQCA
          </a>
        </div>

        <div class="col col-33">
          <a class="tab-item" ng-click="logout()">
            <i class="icon ion-log-out"></i>
            Logout
          </a>
        </div>
      </div>

      <div class = 'pane-bar pane-footer'>
        <p class="Text">Copyrights 2016 by PSQCA<br>Design and Developed by Adarts Digital</p>
      </div>
    </div>
  </ion-content>
</ion-view>

