<ion-view>
  <ion-content class = 'content'>
    <div class = 'card'>
      <div class = 'pane-bar pane-header'>
        <p class="head">Pakistan Standards & Quality Control Authority</p>
      </div>
      <button class="absolute" ng-click="myGoBack()" ion-button><i class="icon ion-ios-arrow-back"></i></button>
      <div class = 'pane-body'>

        <div class="row">
          <div class = 'col col-50'>
          </div>

          <div class = 'col col-50'>
            <img class = 'logo' src="img/logo.png" alt = 'LOGO'/>
          </div>
        </div>

        <div class="row">
          <div class = 'col col-50'>
            <p id = 'field-required'>
              ALERTS
            </p>
          </div>

          <div class = 'col col-50'>
          </div>
        </div>


      <p class="about"> This time is no alerts will be available.
      </p>


      <div class = 'pane-bar pane-footer'>
        <p class="Text">Copyrights 2016 by PSQCA<br>Design and Developed by Adarts Digital</p>
      </div>
    </div>
  </ion-content>
</ion-view>

