<ion-view>
  <ion-content class = 'content'>
    <div class = 'card'>
      <div class = 'pane-bar pane-header'>
        <p class="head">Pakistan Standards & Quality Control Authority</p>
      </div>
      <button class="absolute" ng-click="myGoBack()" ion-button><i class="icon ion-ios-arrow-back"></i></button>
      <div class = 'pane-body'>

        <div class="row">
          <div class = 'col col-50'>
          </div>

          <div class = 'col col-50'>
            <img id = 'logo' src="img/logo.png" alt = 'LOGO'/>
          </div>
        </div>

        <div class="row">
          <div class = 'col col-50'>
            <p id = 'field-required'>
              ALERTS
            </p>
          </div>


        </div>

<div class="container">

      <li> World Standards Day will be celebrated on 31<sup>st</sup> October 2016 at LCCI (Lahore Chamber Of Commerce & Industry)</li>
      <li>"World Standard / Consumer confidence can be ensured through standardization" - Fazal Abbas Maken</li>
      <li>Essay Competition results will be announced before 31<sup>st</sup> October 2016 </li>

</div>

        <div class="row footertab">
          <div class="col col-33">
            <a class="tab-item" ui-sref="home">
              <i class="icon ion-home"></i>
              Home
            </a>
          </div>

          <div class="col col-33">
            <a class="tab-item" ui-sref="about">
              <i class="icon ion-information-circled"></i>
              About PSQCA
            </a>
          </div>

          <div class="col col-33">
            <a class="tab-item" ng-click="logout()">
              <i class="icon ion-log-out"></i>
              Logout
            </a>
          </div>
        </div>



      <div class = 'pane-bar pane-footer'>
        <p class="Text">Copyrights 2016 by PSQCA<br>Design and Developed by Adarts Digital</p>
      </div>
    </div>
  </ion-content>
</ion-view>

