<ion-view>
  <ion-content class = 'content'>

    <!-- A panel for all pages similar -->
    <div class = 'card'>
      <div class = 'pane-bar pane-header'>
        <p class="head">Pakistan Standards & Quality Control Authority</p>
      </div>
      <div class = 'pane-body'>
        <div class="row">
          <div class = 'col col-50'>
            <p id = 'field-required'>
              Fill Required Fields
            </p>
          </div>

          <div class = 'col col-50'>
            <img id = 'logo' src="img/logo.png" alt = 'LOGO'/>
          </div>
        </div>

        <div class = 'row'>
          <div class="col col-100">
            <h4>FeedBack Form</h4>
          </div>

        </div>
        <div class="inputs">

          <div class = 'list' ng-repeat="field in fields">
            <p class = 'text'>{{field}}</p>
            <label class="item item-input">
              <input type="text" placeholder="{{field}}">
            </label>
          </div>
          <p class = 'text'>Message</p>
          <label class="item item-input">
          <textarea placeholder="Message"></textarea>
            </label>


          <button ui-sref="login" class="button button-full button-balanced">
            Send
          </button>

        </div>

      </div>
      <div class = 'pane-bar pane-footer'>
        <p class="Text">Copyrights 2016 by PSQCA<br>Design and Developed by Adarts Digital</p>
      </div>

    </div>

  </ion-content>


</ion-view>
