<ion-view>
  <ion-content class = 'content'>
  <div class = 'card'>
    <div class = 'pane-bar pane-header'>
      <p class="head">Pakistan Standards & Quality Control Authority</p>
    </div>
    <div class = 'pane-body'>

      <div class="row">
        <div class = 'col col-50'>
          <p class = 'pane-description'>
          </p>
        </div>

        <div class = 'col col-50'>
          <img id = 'logo' src="img/logo.png" alt = 'LOGO'/>
        </div>
      </div>

    </div>
    <div class="list">
      <div class="inputdiv ">



        <div class = 'row'>
          <!-- ROW 1 -->

          <!-- COL 11 -->
          <div class = 'icon-holder col-50'>
            <div class = 'icon-clickable'>
              <i class="icon ion-android-notifications-none"></i>
            </div>
            <p class="icon-description">Alerts</p>

          </div>

          <!-- COL 12 -->
          <div class = 'icon-holder col-50'>
            <div ui-sref="products" class = 'icon-clickable'>
              <i class="icon ion-android-search"></i>
            </div>
            <p class="icon-description">Search</p>

          </div>

        </div>



          <!-- ROW 2 -->
        <div class = 'row'>
          <!-- COL 21 -->
          <div class = 'icon-holder col-50'>
            <div class = 'icon-clickable'>
              <i class="icon ion-qr-scanner"></i>
            </div>
            <p class="icon-description">Verify By QR Code</p>
          </div>

          <!-- COL 22 -->
          <div class = 'icon-holder col-50'>
            <div ui-sref="about" class = 'icon-clickable'>
              <i class="icon ion-ios-information"></i>
            </div>
            <p class="icon-description">About PSQCA</p>
          </div>


</div>
          <!-- ROW 3 -->
        <div class = 'row'>
          <!-- COL 31 -->
          <div class = 'icon-holder col-50'>

            <div class = 'icon-clickable'>
              <i class="icon ion-archive"></i>
            </div>
            <p class="icon-description">Downloads</p>

          </div>

          <!-- COL 32 -->
          <div ui-sref="links" class = 'icon-holder col-50'>

            <div class = 'icon-clickable'>
              <i class="icon ion-link"></i>
            </div>
            <p class="icon-description">Links</p>

          </div>


</div>




      </div>
    </div>

    <div class = 'pane-bar pane-footer'>
      <p class="Text">Copyrights 2016 by PSQCA<br>Design and Developed by Adarts Digital</p>
    </div>
  </div>
    </ion-content>
</ion-view>
