<ion-view>
  <ion-content class = 'content'>
    <div class='card'>
      <div class = 'pane-bar pane-header'>
        <p class="head">Pakistan Standards & Quality Control Authority</p>
      </div>
      <button class="absolute" ui-sref="login" ion-button><i class="icon ion-log-out"></i></button>
        <div class="row">

          <div class = 'col col-100'>
            <img id = 'logo' src="img/logo.png" alt = 'LOGO'/>
          </div>
        </div>

        <div class="inputs">
        <h4 class= "align">Search Products From The<br/>Mendatory Items</h4>
          <div class = 'list'>
            <label class="item select item-select">
                <select ng-model="selected">
                  <option value="">Select Option</option>
                  <option>Product Name</option>
                  <option>CM License No</option>
                  <option>Brand Name</option>
                  <option>Manufacturer Name</option>
                </select>


            </label>

            <label class="item item-input bg">
              <input ng-disabled="!selected" ng-model="item.select" type="text" placeholder="Search">
            </label>
          </div>
          <button ng-disabled="!item.select" ng-click="search()" class="button button-full button-balanced">
            Search
          </button>

          <div ng-show="show" class="col col-100">
<div class="row">

  <div class="col col-50">UnitName:</div><div  class="name col col-50">{{show.UnitName}}</div>

</div>
            <div class="row">
            <div class="col col-50">Product: </div><div  class="name col col-50">{{show.Product}}</div>

          </div>
            <div class="row">
          <div class="col col-50">Brand: </div><div  class="name col col-50">{{show.LicenseNo}}</div>

        </div>
            <div class="row">
      <div class="col col-50">Period upto: </div><div  class="name col col-50">{{show.periodto}}</div>

    </div>


    <!--<p>Status: {{show.status}}</p>-->





          </div>

          <h4 ng-show="show"> This Product is certify by PSQCA</h4>
          <h4 ng-show="notFound"> Product Not Found</h4>




        </div>










      <div class = 'pane-bar pane-footer'>
        <p class="Text">Copyrights 2016 by PSQCA<br>Design and Developed by Adarts Digital</p>
      </div>
    </div>
  </ion-content>
</ion-view>
